<!--
  - Copyright (c) 2019.
  - The project framework is designed by DIENGV. This is an open project, with no commercial properties.
  -  LastModified: 6/5/19 9:38 PM
  -  Author: diengv < Giáp Văn Điện >
  -  Email: diengv.dev@gmail.com
  -  File name: master-layout.vue
  -  File path: D:/Projects/diengiap/express-gds-client/src/resources/layout/master-layout.vue
  -->

<template>
    <div class="master-layout">
        <app-nav></app-nav>
        <div class="home has-margin-top-md has-margin-bottom-md">
            <div class="columns is-mobile">
                <div id="master-left-menu" class="column is-narrow">
                    <aside class="menu is-light">
                        <p class="menu-label">
                            General
                        </p>
                        <ul class="menu-list">
                            <li>
                                <router-link to="/master" exact>Dashboard</router-link>
                            </li>
                            <li v-if="isRoot">
                                <router-link to="/master/customer">Khách hàng</router-link>
                                <ul>
                                    <li>
                                        <router-link to="/master/customer/add">Thêm mới</router-link>
                                    </li>
                                    <li>
                                        <router-link to="/master/customer/inactive">Đợi kích hoạt</router-link>
                                    </li>
                                </ul>
                            </li>
                            <li v-if="isRoot">
                                <router-link to="/master/address">Địa chỉ</router-link>
                            </li>
                        </ul>
                        <p class="menu-label" v-if="isAdmin">
                            Administration
                        </p>
                        <ul class="menu-list" v-if="isAdmin">
                            <li>
                                <router-link to="/customer/user/manager">QL người dùng</router-link>
                            </li>
                        </ul>
                        <p class="menu-label">
                            Transactions
                        </p>
                        <ul class="menu-list">
                            <li><a>Payments</a></li>
                            <li><a>Transfers</a></li>
                            <li><a>Balance</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="column">
                    <transition
                        name="fade"
                        mode="out-in"
                    >
                        <div class="master-content">
                            <router-view/>
                        </div>
                    </transition>
                    <footer-layout></footer-layout>
                </div>
            </div>
        </div>

        <!--    <app-notification></app-notification>-->
    </div>
</template>

<script>
    import FooterLayout from './inc/footer-layout'
    import AppNav from '../components/app-nav'
    import UserModel from "../../app/modules/user/models/UserModel";

    export default {
        name: 'master-layout',
        components: {AppNav, FooterLayout},
        computed: {
            isRoot() {
                return this.$store.getters['userSession/userInfo'].type === UserModel.TYPE.root
            },
            isCustomer() {
                return this.$store.getters['userSession/userInfo'].type === UserModel.TYPE.customer
            },
            isAdmin() {
                return true
                // return this.$store.getters['userSession/userInfo'].type === UserModel.TYPE.admin
            }
        }
    }
</script>

<style lang="scss" scoped>
    #master-left-menu {
        width: 200px;
        padding-right: 0;
        height: calc(100vh - 55px);
    }

    .master-content {
        padding-right: 0.75rem;
    }

    .menu {
        position: fixed;
        top: 60px;
        width: 188px;
        height: calc(100vh - 55px);
        /*overflow-y: scroll;*/
    }

    .home {
        min-height: calc(100vh - 55px);
    }

    .footer {
        margin-left: -10px;
    }
</style>
