<!--
  - Copyright (c) 2019.
  - The project framework is designed by DIENGV. This is an open project, with no commercial properties.
  -  LastModified: 6/5/19 9:38 PM
  -  Author: diengv < Giáp Văn Điện >
  -  Email: diengv.dev@gmail.com
  -  File name: news-layout.vue
  -  File path: D:/Projects/diengiap/express-gds-client/src/resources/layout/news-layout.vue
  -->

<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'news-layout'
}
</script>

<style scoped>

</style>
