<!--
  - Copyright (c) 2019.
  - The project framework is designed by DIENGV. This is an open project, with no commercial properties.
  -  LastModified: 6/5/19 9:31 PM
  -  Author: diengv < Giáp Văn Điện >
  -  Email: diengv.dev@gmail.com
  -  File name: Modal.vue
  -  File path: D:/Projects/diengiap/express-gds-client/src/plugins/bulma/component/Modal.vue
  -->

<template>

</template>

<script>
  export default {
    name: 'Modal'
  }
</script>

<style scoped>

</style>
