<!--
  - Copyright (c) 2019.
  - The project framework is designed by DIENGV. This is an open project, with no commercial properties.
  -  LastModified: 6/5/19 9:31 PM
  -  Author: diengv < Giáp Văn Điện >
  -  Email: diengv.dev@gmail.com
  -  File name: login.vue
  -  File path: D:/Projects/diengiap/express-gds-client/src/app/modules/auth/views/login.vue
  -->

<template>
    <div class="columns is-vcentered is-centered" style="height: 100vh;">
        <div class="column is-half-tablet is-two-fifths-desktop">
            <div class="card-login-bg">
                <div class="card card-login">
                    <header class="card-header">
                        <p class="card-header-title">{{$t('auth.login_title')}}</p>
                        <router-link to="/support" class="card-header-icon" :aria-label="$t('auth.login_support')">
                         <span class="icon">
                        <i class="icon-regular question-circle has-text-grey-light" aria-hidden="true"></i>
                      </span>
                        </router-link>
                    </header>
                    <div class="card-content has-relative">
                        <div class="logo-box">
                            <router-link to="/" exact>
                                <logo :color="['#38739f','#c7c360']" height="60px"></logo>
                            </router-link>
                        </div>
                        <div class="content">
                            <div class="field">
                                <label class="label" for="in#email">{{$t('auth.login_email')}}</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input" type="email" id="in#email"
                                           v-model="formData.email"
                                           placeholder="Email input">
                                    <span class="icon is-small is-left">
                                      <i class="icon-regular envelope"></i>
                                    </span>
                                    <span class="icon is-small is-right" v-if="emailOk">
                                      <i class="icon-regular check has-text-success"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="in#pwd">{{$t('auth.login_password')}}</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input" type="password" id="in#pwd"
                                           v-model="formData.password">
                                    <span class="icon is-small is-left">
                                      <i class="icon-regular key"></i>
                                    </span>
                                    <span class="icon is-small is-right" v-if="pwdOk">
                                      <i class="icon-regular check has-text-success"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <div class="column">
                            <button type="button" @click="doLogin()"
                                    :class="{'button is-primary':true,'is-loading':isSubmit}">
                                {{$t('auth.login_submit')}}
                            </button>
                        </div>
                        <div class="column">
                            <div class="buttons is-right">
                                <router-link to="/auth/register" class="button is-outlined is-success">
                                    {{$t('auth.login_register_btn')}}
                                </router-link>
                                <a class="button is-outlined" href="#">{{$t('auth.login_lost_pass_btn')}}</a>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AuthService from "../AuthService";
    import {mapActions} from 'vuex'
    import validate from "../../../base/validate/Validate"

    export default {
        name: "login",
        data: () => ({
            formData: {
                email: '',
                password: ''
            },
            isSubmit: false
        }),
        computed: {
            isValid() {
                return this.pwdOk && this.emailOk
            },
            emailOk() {
                return !validate.isNull(this.formData.email) && validate.isEmail(this.formData.email)
            },
            pwdOk() {
                return !validate.isMin(this.formData.password, 6) && !validate.isNull(this.formData.password)
            }
        },
        methods: {
            ...mapActions('userSession', ['setUserInfo']),
            doLogin() {
                if (!this.isSubmit) {
                    this.isSubmit = true
                    if (this.isValid) {
                        AuthService.login(this.formData)
                            .then(res => {
                                this.setUserInfo(res.data)
                                this.$router.push(this.$store.state.prevRoute)
                            })
                            .catch(err => {
                                this.isSubmit = false
                                this.$addNotification({
                                    color: 'danger',
                                    content: err.message ? err.message : this.$t('auth.login_error')
                                })
                            })
                    } else {
                        setTimeout(() => {
                            this.isSubmit = false
                            this.$addNotification({
                                time: -1,
                                color: 'danger',
                                content: this.$t('auth.login_error')
                            })
                        }, 1000)

                    }

                }

            }
        }
    }
</script>

<style scoped>

</style>
