<!--
  - Copyright (c) 2019.
  - The project framework is designed by DIENGV. This is an open project, with no commercial properties.
  -  LastModified: 6/5/19 9:31 PM
  -  Author: diengv < Giáp Văn Điện >
  -  Email: diengv.dev@gmail.com
  -  File name: About.vue
  -  File path: D:/Projects/diengiap/express-gds-client/src/resources/views/About.vue
  -->

<template>
  <div class="about">
    <h1>This is an about page</h1>
  </div>
</template>
