/*!
 * Copyright (c) 2019.
 * The project framework is designed by DIENGV. This is an open project, with no commercial properties.
 *  LastModified: 6/5/19 9:31 PM
 *  Author: diengv < Giáp Văn Điện >
 *  Email: diengv.dev@gmail.com
 *  File name: _login.scss
 *  File path: D:/Projects/diengiap/express-gds-client/src/resources/assets/scss/inc/_login.scss
 */

.body-login {
  background-color: #134776;
  background-image: url("../../svg/Rose-Petals-blue.svg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  .card-login-bg {
    box-shadow: 0 0 220px 6px rgba(213, 230, 141, 0.8);
    border-radius: $radius;
  }

  .card-login {
    border-top: 7px solid rgba(212, 222, 44, 0.51);
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;

    .logo-box {
      position: absolute;
      left: calc(50% - 60px);
      top: -100px;
      width: 110px;
      height: 110px;
      border-radius: $radius-rounded;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      border: 7px solid rgba(212, 222, 44, 0.51);
    }
  }
}


