/*!
 * Copyright (c) 2019.
 * The project framework is designed by DIENGV. This is an open project, with no commercial properties.
 *  LastModified: 6/5/19 9:31 PM
 *  Author: diengv < Giáp Văn Điện >
 *  Email: diengv.dev@gmail.com
 *  File name: _vendor.scss
 *  File path: D:/Projects/diengiap/express-gds-client/src/resources/assets/scss/inc/_vendor.scss
 */

.bg-random {
  background-image: url("../../svg/Randomized-Pattern.svg");
  background-size: cover;
  background-position: center;
}
