/*!
 * Copyright (c) 2019.
 * The project framework is designed by DIENGV. This is an open project, with no commercial properties.
 *  LastModified: 6/5/19 9:38 PM
 *  Author: diengv < Giáp Văn Điện >
 *  Email: diengv.dev@gmail.com
 *  File name: main.scss
 *  File path: D:/Projects/diengiap/express-gds-client/src/resources/assets/scss/main.scss
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=vietnamese');
@import "gds-icon/gds-icon";
@import "../../../../node_modules/bulma";
@import "ext/util";
@import "ext/tooltip/index";
@import "ext/checkradio";
@import "ext/switch";
@import "ext/modal";
@import "inc/login";
@import "inc/vendor";

.button {
  transition: all .4s ease;
}

.navbar {
  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }

  .navbar-item {
    font-weight: 600;
  }

  .navbar-brand {
    align-items: center;

    svg {
      margin-left: 1.5rem;
      max-width: 200px;
    }
  }

}

.home {
  .hero {
    background: linear-gradient(165deg, #4d7c8e 35%, rgba(164, 223, 154, .85) 131%);
    text-shadow: 2px 2px 12px rgba(17, 17, 17, .72);
    min-height: 100vh;

    .links {
      .button:hover {
        border-radius: 18px;
      }
    }
  }

  .headline-features {
    background-image: linear-gradient(164deg, #1b293a 44%, #4592a0 110%);
    border-top: 25px solid #3b4b64;
    padding-bottom: 0;
  }

  .cta-ready-hero {
    background: linear-gradient(150deg, #31709d -10%, #bdd3c4 110%);
    font-family: Bitter, serif;
    padding-bottom: 8rem;
    padding-top: 8rem;

    .button {
      font-weight: 700;
      margin-top: 2rem;

      &:hover {
        border-radius: 15px;
        transform: translateY(-2px);
      }

    }
  }

  .feature {
    .button:hover {
      border-radius: 10px;
      filter: hue-rotate(-5deg);
    }
  }
}

.footer {
  hr {
    background-color: #506679;
  }

  a {
    color: #9ba9b5;
    transition: all .2s linear;

    &:hover {
      color: #fff;
    }
  }

  h3 {
    color: #7792a9;
  }
}

@media (min-width: 1200px) {
  .footer .columns {
    margin: 0 8vw;
  }
}


@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

.flashit {
  animation: flash linear 1s infinite;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}


.menu {
  @each $name, $par in $colors {
    &.is-#{$name} {
      $menu-text-color: findColorInvert(nth($par, 1));
      background-color: nth($par, 1);
      color: $menu-text-color;

      .menu-label {
        color: darken($menu-text-color, 5%);
      }

      .menu-list {
        li a {
          border-radius: 0;
          color: $menu-text-color;

          &:hover {
            background-color: darken(nth($par, 1), 5%);
            color: findColorInvert(darken(nth($par, 1), 5%));
          }
        }

        .is-active {
          background-color: darken(nth($par, 1), 10%) !important;
          color: findColorInvert(darken(nth($par, 1), 10%)) !important;
        }
      }
    }
  }
}

.panel-heading {
  &.has-btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.field {
  &.has-addons {
    .has-checkbox {
      background-color: $input-background-color;
      border: $border-width solid $input-border-color;
      border-radius: $radius;
      height: $control-height;
      line-height: $control-line-height;
      padding: calc(.375em - 1px) calc(.625em - 1px);

      .is-checkradio + label {
        padding-left: calc(.625em - 1px);
      }
    }

    .control:first-child:not(:only-child) .has-checkbox {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
