<!--
  - Copyright (c) 2019.
  - The project framework is designed by DIENGV. This is an open project, with no commercial properties.
  -  LastModified: 6/5/19 9:31 PM
  -  Author: diengv < Giáp Văn Điện >
  -  Email: diengv.dev@gmail.com
  -  File name: categories.vue
  -  File path: D:/Projects/diengiap/express-gds-client/src/resources/views/quiz/categories.vue
  -->

<template>
    <div></div>
</template>

<script>
    export default {
        name: "categories"
    }
</script>

<style scoped>

</style>
