<!--
  - Copyright (c) 2019.
  - The project framework is designed by DIENGV. This is an open project, with no commercial properties.
  -  LastModified: 6/5/19 9:31 PM
  -  Author: diengv < Giáp Văn Điện >
  -  Email: diengv.dev@gmail.com
  -  File name: App.vue
  -  File path: D:/Projects/diengiap/express-gds-client/src/App.vue
  -->

<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>
<script>
    export default {
        name: 'App',
        data: () => ({
            onLine: navigator.onLine,
            checkOnline: null
        }),
        mounted() {

        },
        computed: {
            layout() {
                return this.$route.meta.layout || 'default-layout'
            }
        },
        watch: {
            onLine(v) {
                this.$store.dispatch('updateOnlineFlag', v).then(() => {
                    if (v) {
                        this.$addNotification({
                            title: 'Thông báo',
                            content: 'Hệ thống đã online trở lại'
                        })
                    } else {
                        this.$addNotification({
                            title: 'Mất kết nối',
                            color: 'warning',
                            content: 'Không có kết nối mạng, hệ thống đang ở chế độ ngoại tuyến.'
                        })
                    }
                })
            }
        },
        methods: {
        }
    }
</script>

<style lang="scss">
    @import "@/resources/assets/scss/main.scss";

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
