<!--
  - Copyright (c) 2019.
  - The project framework is designed by DIENGV. This is an open project, with no commercial properties.
  -  LastModified: 6/5/19 9:31 PM
  -  Author: diengv < Giáp Văn Điện >
  -  Email: diengv.dev@gmail.com
  -  File name: user-manager.vue
  -  File path: D:/Projects/diengiap/express-gds-client/src/app/modules/user/views/user-manager.vue
  -->

<template>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Quản lý tài khoản</p>
            <span class="card-header-icon" aria-label="more options">
                <button class="button is-small is-rounded is-success" type="button"
                        :disabled="isLoading"
                        @click="showAddUser()">
                     <span class="icon">
                        <i class="icon-regular plus-circle" aria-hidden="true"></i>
                      </span>
                </button>
            </span>
            <span class="card-header-icon" aria-label="more options">
                <button class="button is-small is-rounded" type="button"
                        @click="reloadData()">
                     <span class="icon">
                        <i class="icon-regular sync-alt" aria-hidden="true"></i>
                      </span>
                </button>
            </span>
        </header>
        <div class="card-content">
            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" placeholder="Từ khóa">
                </div>
                <div class="control">
                    <div class="select">
                        <select name="country">
                            <option value="">Status</option>
                            <option :value="val" v-for="(name, val) in UserModel.STATUS">{{name}}</option>
                        </select>
                    </div>
                </div>
                <div class="control">
                    <div class="select">
                        <select name="country">
                            <option value="">Type</option>
                            <option :value="val" v-for="(name, val) in UserModel.TYPE">{{name}}</option>
                        </select>
                    </div>
                </div>
                <div class="control">
                    <button class="button is-info" type="button" @click="searchData()">
                        <span class="icon"><i class="icon-solid search"></i> </span>
                    </button>
                </div>
            </div>
            <pagination
                :current="searchForm.current"
                :total="searchForm.total"
                :perPage="searchForm.perPage"
                @onChange="searchData"
                :step="1">
            </pagination>
            <mock-table v-if="isLoading" :columns="6"></mock-table>
            <template v-if="!isLoading">
                <table class="table is-fullwidth is-hoverable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(user, index) in listUser" :key="user._autoKey">
                        <td>
                            {{index + 1}}
                            <span class="icon" v-if="user.type === UserModel.TYPE.admin">
                                <i class="icon-solid user-tie"></i>
                            </span>
                            <span class="icon" v-if="user.status === UserModel.STATUS.block">
                                <i class="icon-solid block"></i>
                            </span>
                        </td>
                        <td>{{user.fullName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.type}}</td>
                        <td>{{user.status}}</td>
                        <td>
                            <div class="buttons">
                                <button @click="showEditUser(user)"
                                        class="button is-small is-outlined" type="button">
                                    <span class="icon"><i class="icon-regular edit"></i></span>
                                </button>
                                <button @click="deleteUser(user)"
                                        class="button is-small is-danger is-outlined" type="button">
                                    <span class="icon"><i class="icon-regular trash-alt"></i></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </template>

        </div>
        <bulma-modal-card :active="showDialog" title="Thông tin tài khoản"
                          @closeModal="onDialogClose()">
            <template slot="body">
                <label class="label">Họ và tên</label>
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="email"
                               v-model="detailUser.firstName"
                               placeholder="Họ">
                    </div>
                    <div class="control is-expanded">
                        <input class="input is-fullwidth" type="email"
                               v-model="detailUser.lastName"
                               placeholder="(Tên đệm) tên">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email"
                               v-model="detailUser.email"
                               placeholder="Email input">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="text"
                               v-model="detailUser.password">
                    </div>
                </div>
                <label class="label">Status</label>
                <div class="field">
                    <template v-for="status in UserModel.STATUS">
                        <input class="is-checkradio" :id="`status-${status}`"
                               v-model="detailUser.status"
                               :value="status" type="radio">
                        <label :for="`status-${status}`">{{status}}</label>
                    </template>
                </div>
                <label class="label">Type</label>
                <div class="field">
                    <template v-for="type in UserModel.TYPE">
                        <input class="is-checkradio" :id="`type-${type}`"
                               v-model="detailUser.type"
                               :value="type" type="radio">
                        <label :for="`type-${type}`">{{type}}</label>
                    </template>
                </div>
            </template>
            <template slot="footer">
                <div class="column">
                    <button type="button" @click="submitUser()"
                            :class="{'button is-primary':true,'is-loading':isSubmit}">
                        Xác nhận
                    </button>
                </div>
                <div class="column">
                    <div class="buttons is-right">
                        <button class="button is-outlined" type="button"
                                @click="dialogClose()">Đóng lại
                        </button>
                    </div>
                </div>
            </template>
        </bulma-modal-card>
    </div>
</template>

<script>
    import UserManager from "../script/manager";
    import Pagination from "../../../../plugins/bulma/component/Pagination";

    export default {
        name: "user-manager",
        components: {Pagination},
        mixins: [UserManager]
    }
</script>

<style scoped>
    .data-loading {
        background-color: #1b293a;
    }
</style>
