/*!
 * Copyright (c) 2019.
 * The project framework is designed by DIENGV. This is an open project, with no commercial properties.
 *  LastModified: 6/5/19 9:38 PM
 *  Author: diengv < Giáp Văn Điện >
 *  Email: diengv.dev@gmail.com
 *  File name: style.scss
 *  File path: D:/Projects/diengiap/express-gds-client/src/resources/assets/scss/gds-icon/brands/style.scss
 */

@import "variables";

@font-face {
  font-family: '#{$font-family-brands}';
  src:  url('#{$gds-icon-font-path}/#{$font-family-brands}.eot?r7lzgp');
  src:  url('#{$gds-icon-font-path}/#{$font-family-brands}.eot?r7lzgp#iefix') format('embedded-opentype'),
    url('#{$gds-icon-font-path}/#{$font-family-brands}.ttf?r7lzgp') format('truetype'),
    url('#{$gds-icon-font-path}/#{$font-family-brands}.woff?r7lzgp') format('woff'),
    url('#{$gds-icon-font-path}/#{$font-family-brands}.svg?r7lzgp##{$font-family-brands}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-brands {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$font-family-brands}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  &.px {
    &:before {
      content: $brands-px;
    }
  }
  &.accessible-icon {
    &:before {
      content: $brands-accessible-icon;
    }
  }
  &.accusoft {
    &:before {
      content: $brands-accusoft;
    }
  }
  &.acquisitions-incorporated {
    &:before {
      content: $brands-acquisitions-incorporated;
    }
  }
  &.adn {
    &:before {
      content: $brands-adn;
    }
  }
  &.adobe {
    &:before {
      content: $brands-adobe;
    }
  }
  &.adversal {
    &:before {
      content: $brands-adversal;
    }
  }
  &.affiliatetheme {
    &:before {
      content: $brands-affiliatetheme;
    }
  }
  &.algolia {
    &:before {
      content: $brands-algolia;
    }
  }
  &.alipay {
    &:before {
      content: $brands-alipay;
    }
  }
  &.amazon {
    &:before {
      content: $brands-amazon;
    }
  }
  &.amazon-pay {
    &:before {
      content: $brands-amazon-pay;
    }
  }
  &.amilia {
    &:before {
      content: $brands-amilia;
    }
  }
  &.android {
    &:before {
      content: $brands-android;
    }
  }
  &.angellist {
    &:before {
      content: $brands-angellist;
    }
  }
  &.angrycreative {
    &:before {
      content: $brands-angrycreative;
    }
  }
  &.angular {
    &:before {
      content: $brands-angular;
    }
  }
  &.apper {
    &:before {
      content: $brands-apper;
    }
  }
  &.apple {
    &:before {
      content: $brands-apple;
    }
  }
  &.apple-pay {
    &:before {
      content: $brands-apple-pay;
    }
  }
  &.app-store {
    &:before {
      content: $brands-app-store;
    }
  }
  &.app-store-ios {
    &:before {
      content: $brands-app-store-ios;
    }
  }
  &.artstation {
    &:before {
      content: $brands-artstation;
    }
  }
  &.asymmetrik {
    &:before {
      content: $brands-asymmetrik;
    }
  }
  &.atlassian {
    &:before {
      content: $brands-atlassian;
    }
  }
  &.audible {
    &:before {
      content: $brands-audible;
    }
  }
  &.autoprefixer {
    &:before {
      content: $brands-autoprefixer;
    }
  }
  &.avianex {
    &:before {
      content: $brands-avianex;
    }
  }
  &.aviato {
    &:before {
      content: $brands-aviato;
    }
  }
  &.aws {
    &:before {
      content: $brands-aws;
    }
  }
  &.bandcamp {
    &:before {
      content: $brands-bandcamp;
    }
  }
  &.behance {
    &:before {
      content: $brands-behance;
    }
  }
  &.behance-square {
    &:before {
      content: $brands-behance-square;
    }
  }
  &.bimobject {
    &:before {
      content: $brands-bimobject;
    }
  }
  &.bitbucket {
    &:before {
      content: $brands-bitbucket;
    }
  }
  &.bitcoin {
    &:before {
      content: $brands-bitcoin;
    }
  }
  &.bity {
    &:before {
      content: $brands-bity;
    }
  }
  &.blackberry {
    &:before {
      content: $brands-blackberry;
    }
  }
  &.black-tie {
    &:before {
      content: $brands-black-tie;
    }
  }
  &.blogger {
    &:before {
      content: $brands-blogger;
    }
  }
  &.blogger-b {
    &:before {
      content: $brands-blogger-b;
    }
  }
  &.bluetooth {
    &:before {
      content: $brands-bluetooth;
    }
  }
  &.bluetooth-b {
    &:before {
      content: $brands-bluetooth-b;
    }
  }
  &.btc {
    &:before {
      content: $brands-btc;
    }
  }
  &.buromobelexperte {
    &:before {
      content: $brands-buromobelexperte;
    }
  }
  &.buysellads {
    &:before {
      content: $brands-buysellads;
    }
  }
  &.canadian-maple-leaf {
    &:before {
      content: $brands-canadian-maple-leaf;
    }
  }
  &.cc-amazon-pay {
    &:before {
      content: $brands-cc-amazon-pay;
    }
  }
  &.cc-amex {
    &:before {
      content: $brands-cc-amex;
    }
  }
  &.cc-apple-pay {
    &:before {
      content: $brands-cc-apple-pay;
    }
  }
  &.cc-diners-club {
    &:before {
      content: $brands-cc-diners-club;
    }
  }
  &.cc-discover {
    &:before {
      content: $brands-cc-discover;
    }
  }
  &.cc-jcb {
    &:before {
      content: $brands-cc-jcb;
    }
  }
  &.cc-mastercard {
    &:before {
      content: $brands-cc-mastercard;
    }
  }
  &.cc-paypal {
    &:before {
      content: $brands-cc-paypal;
    }
  }
  &.cc-stripe {
    &:before {
      content: $brands-cc-stripe;
    }
  }
  &.cc-visa {
    &:before {
      content: $brands-cc-visa;
    }
  }
  &.centercode {
    &:before {
      content: $brands-centercode;
    }
  }
  &.centos {
    &:before {
      content: $brands-centos;
    }
  }
  &.chrome {
    &:before {
      content: $brands-chrome;
    }
  }
  &.cloudscale {
    &:before {
      content: $brands-cloudscale;
    }
  }
  &.cloudsmith {
    &:before {
      content: $brands-cloudsmith;
    }
  }
  &.cloudversify {
    &:before {
      content: $brands-cloudversify;
    }
  }
  &.codepen {
    &:before {
      content: $brands-codepen;
    }
  }
  &.codiepie {
    &:before {
      content: $brands-codiepie;
    }
  }
  &.confluence {
    &:before {
      content: $brands-confluence;
    }
  }
  &.connectdevelop {
    &:before {
      content: $brands-connectdevelop;
    }
  }
  &.contao {
    &:before {
      content: $brands-contao;
    }
  }
  &.cpanel {
    &:before {
      content: $brands-cpanel;
    }
  }
  &.creative-commons {
    &:before {
      content: $brands-creative-commons;
    }
  }
  &.creative-commons-by {
    &:before {
      content: $brands-creative-commons-by;
    }
  }
  &.creative-commons-nc {
    &:before {
      content: $brands-creative-commons-nc;
    }
  }
  &.creative-commons-nc-eu {
    &:before {
      content: $brands-creative-commons-nc-eu;
    }
  }
  &.creative-commons-nc-jp {
    &:before {
      content: $brands-creative-commons-nc-jp;
    }
  }
  &.creative-commons-nd {
    &:before {
      content: $brands-creative-commons-nd;
    }
  }
  &.creative-commons-pd {
    &:before {
      content: $brands-creative-commons-pd;
    }
  }
  &.creative-commons-pd-alt {
    &:before {
      content: $brands-creative-commons-pd-alt;
    }
  }
  &.creative-commons-remix {
    &:before {
      content: $brands-creative-commons-remix;
    }
  }
  &.creative-commons-sa {
    &:before {
      content: $brands-creative-commons-sa;
    }
  }
  &.creative-commons-sampling {
    &:before {
      content: $brands-creative-commons-sampling;
    }
  }
  &.creative-commons-sampling-plus {
    &:before {
      content: $brands-creative-commons-sampling-plus;
    }
  }
  &.creative-commons-share {
    &:before {
      content: $brands-creative-commons-share;
    }
  }
  &.creative-commons-zero {
    &:before {
      content: $brands-creative-commons-zero;
    }
  }
  &.critical-role {
    &:before {
      content: $brands-critical-role;
    }
  }
  &.css3 {
    &:before {
      content: $brands-css3;
    }
  }
  &.css3-alt {
    &:before {
      content: $brands-css3-alt;
    }
  }
  &.cuttlefish {
    &:before {
      content: $brands-cuttlefish;
    }
  }
  &.d-and-d {
    &:before {
      content: $brands-d-and-d;
    }
  }
  &.d-and-d-beyond {
    &:before {
      content: $brands-d-and-d-beyond;
    }
  }
  &.dashcube {
    &:before {
      content: $brands-dashcube;
    }
  }
  &.delicious {
    &:before {
      content: $brands-delicious;
    }
  }
  &.deploydog {
    &:before {
      content: $brands-deploydog;
    }
  }
  &.deskpro {
    &:before {
      content: $brands-deskpro;
    }
  }
  &.dev {
    &:before {
      content: $brands-dev;
    }
  }
  &.deviantart {
    &:before {
      content: $brands-deviantart;
    }
  }
  &.dhl {
    &:before {
      content: $brands-dhl;
    }
  }
  &.diaspora {
    &:before {
      content: $brands-diaspora;
    }
  }
  &.digg {
    &:before {
      content: $brands-digg;
    }
  }
  &.digital-ocean {
    &:before {
      content: $brands-digital-ocean;
    }
  }
  &.discord {
    &:before {
      content: $brands-discord;
    }
  }
  &.discourse {
    &:before {
      content: $brands-discourse;
    }
  }
  &.dochub {
    &:before {
      content: $brands-dochub;
    }
  }
  &.docker {
    &:before {
      content: $brands-docker;
    }
  }
  &.draft2digital {
    &:before {
      content: $brands-draft2digital;
    }
  }
  &.dribbble {
    &:before {
      content: $brands-dribbble;
    }
  }
  &.dribbble-square {
    &:before {
      content: $brands-dribbble-square;
    }
  }
  &.dropbox {
    &:before {
      content: $brands-dropbox;
    }
  }
  &.drupal {
    &:before {
      content: $brands-drupal;
    }
  }
  &.dyalog {
    &:before {
      content: $brands-dyalog;
    }
  }
  &.earlybirds {
    &:before {
      content: $brands-earlybirds;
    }
  }
  &.ebay {
    &:before {
      content: $brands-ebay;
    }
  }
  &.edge {
    &:before {
      content: $brands-edge;
    }
  }
  &.elementor {
    &:before {
      content: $brands-elementor;
    }
  }
  &.ello {
    &:before {
      content: $brands-ello;
    }
  }
  &.ember {
    &:before {
      content: $brands-ember;
    }
  }
  &.empire {
    &:before {
      content: $brands-empire;
    }
  }
  &.envira {
    &:before {
      content: $brands-envira;
    }
  }
  &.erlang {
    &:before {
      content: $brands-erlang;
    }
  }
  &.ethereum {
    &:before {
      content: $brands-ethereum;
    }
  }
  &.etsy {
    &:before {
      content: $brands-etsy;
    }
  }
  &.expeditedssl {
    &:before {
      content: $brands-expeditedssl;
    }
  }
  &.facebook {
    &:before {
      content: $brands-facebook;
    }
  }
  &.facebook-f {
    &:before {
      content: $brands-facebook-f;
    }
  }
  &.facebook-messenger {
    &:before {
      content: $brands-facebook-messenger;
    }
  }
  &.facebook-square {
    &:before {
      content: $brands-facebook-square;
    }
  }
  &.fantasy-flight-games {
    &:before {
      content: $brands-fantasy-flight-games;
    }
  }
  &.fedex {
    &:before {
      content: $brands-fedex;
    }
  }
  &.fedora {
    &:before {
      content: $brands-fedora;
    }
  }
  &.figma {
    &:before {
      content: $brands-figma;
    }
  }
  &.firefox {
    &:before {
      content: $brands-firefox;
    }
  }
  &.firstdraft {
    &:before {
      content: $brands-firstdraft;
    }
  }
  &.first-order {
    &:before {
      content: $brands-first-order;
    }
  }
  &.first-order-alt {
    &:before {
      content: $brands-first-order-alt;
    }
  }
  &.flickr {
    &:before {
      content: $brands-flickr;
    }
  }
  &.flipboard {
    &:before {
      content: $brands-flipboard;
    }
  }
  &.fly {
    &:before {
      content: $brands-fly;
    }
  }
  &.font-awesome {
    &:before {
      content: $brands-font-awesome;
    }
  }
  &.font-awesome-alt {
    &:before {
      content: $brands-font-awesome-alt;
    }
  }
  &.font-awesome-flag {
    &:before {
      content: $brands-font-awesome-flag;
    }
  }
  &.fonticons {
    &:before {
      content: $brands-fonticons;
    }
  }
  &.fonticons-fi {
    &:before {
      content: $brands-fonticons-fi;
    }
  }
  &.fort-awesome {
    &:before {
      content: $brands-fort-awesome;
    }
  }
  &.fort-awesome-alt {
    &:before {
      content: $brands-fort-awesome-alt;
    }
  }
  &.forumbee {
    &:before {
      content: $brands-forumbee;
    }
  }
  &.foursquare {
    &:before {
      content: $brands-foursquare;
    }
  }
  &.freebsd {
    &:before {
      content: $brands-freebsd;
    }
  }
  &.free-code-camp {
    &:before {
      content: $brands-free-code-camp;
    }
  }
  &.fulcrum {
    &:before {
      content: $brands-fulcrum;
    }
  }
  &.galactic-republic {
    &:before {
      content: $brands-galactic-republic;
    }
  }
  &.galactic-senate {
    &:before {
      content: $brands-galactic-senate;
    }
  }
  &.get-pocket {
    &:before {
      content: $brands-get-pocket;
    }
  }
  &.gg {
    &:before {
      content: $brands-gg;
    }
  }
  &.gg-circle {
    &:before {
      content: $brands-gg-circle;
    }
  }
  &.git {
    &:before {
      content: $brands-git;
    }
  }
  &.github {
    &:before {
      content: $brands-github;
    }
  }
  &.github-alt {
    &:before {
      content: $brands-github-alt;
    }
  }
  &.github-square {
    &:before {
      content: $brands-github-square;
    }
  }
  &.gitkraken {
    &:before {
      content: $brands-gitkraken;
    }
  }
  &.gitlab {
    &:before {
      content: $brands-gitlab;
    }
  }
  &.git-square {
    &:before {
      content: $brands-git-square;
    }
  }
  &.gitter {
    &:before {
      content: $brands-gitter;
    }
  }
  &.glide {
    &:before {
      content: $brands-glide;
    }
  }
  &.glide-g {
    &:before {
      content: $brands-glide-g;
    }
  }
  &.gofore {
    &:before {
      content: $brands-gofore;
    }
  }
  &.goodreads {
    &:before {
      content: $brands-goodreads;
    }
  }
  &.goodreads-g {
    &:before {
      content: $brands-goodreads-g;
    }
  }
  &.google {
    &:before {
      content: $brands-google;
    }
  }
  &.google-drive {
    &:before {
      content: $brands-google-drive;
    }
  }
  &.google-play {
    &:before {
      content: $brands-google-play;
    }
  }
  &.google-plus {
    &:before {
      content: $brands-google-plus;
    }
  }
  &.google-plus-g {
    &:before {
      content: $brands-google-plus-g;
    }
  }
  &.google-plus-square {
    &:before {
      content: $brands-google-plus-square;
    }
  }
  &.google-wallet {
    &:before {
      content: $brands-google-wallet;
    }
  }
  &.gratipay {
    &:before {
      content: $brands-gratipay;
    }
  }
  &.grav {
    &:before {
      content: $brands-grav;
    }
  }
  &.gripfire {
    &:before {
      content: $brands-gripfire;
    }
  }
  &.grunt {
    &:before {
      content: $brands-grunt;
    }
  }
  &.gulp {
    &:before {
      content: $brands-gulp;
    }
  }
  &.hacker-news {
    &:before {
      content: $brands-hacker-news;
    }
  }
  &.hacker-news-square {
    &:before {
      content: $brands-hacker-news-square;
    }
  }
  &.hackerrank {
    &:before {
      content: $brands-hackerrank;
    }
  }
  &.hips {
    &:before {
      content: $brands-hips;
    }
  }
  &.hire-a-helper {
    &:before {
      content: $brands-hire-a-helper;
    }
  }
  &.hooli {
    &:before {
      content: $brands-hooli;
    }
  }
  &.hornbill {
    &:before {
      content: $brands-hornbill;
    }
  }
  &.hotjar {
    &:before {
      content: $brands-hotjar;
    }
  }
  &.houzz {
    &:before {
      content: $brands-houzz;
    }
  }
  &.html5 {
    &:before {
      content: $brands-html5;
    }
  }
  &.hubspot {
    &:before {
      content: $brands-hubspot;
    }
  }
  &.imdb {
    &:before {
      content: $brands-imdb;
    }
  }
  &.instagram {
    &:before {
      content: $brands-instagram;
    }
  }
  &.intercom {
    &:before {
      content: $brands-intercom;
    }
  }
  &.internet-explorer {
    &:before {
      content: $brands-internet-explorer;
    }
  }
  &.invision {
    &:before {
      content: $brands-invision;
    }
  }
  &.ioxhost {
    &:before {
      content: $brands-ioxhost;
    }
  }
  &.itunes {
    &:before {
      content: $brands-itunes;
    }
  }
  &.itunes-note {
    &:before {
      content: $brands-itunes-note;
    }
  }
  &.java {
    &:before {
      content: $brands-java;
    }
  }
  &.jedi-order {
    &:before {
      content: $brands-jedi-order;
    }
  }
  &.jenkins {
    &:before {
      content: $brands-jenkins;
    }
  }
  &.jira {
    &:before {
      content: $brands-jira;
    }
  }
  &.joget {
    &:before {
      content: $brands-joget;
    }
  }
  &.joomla {
    &:before {
      content: $brands-joomla;
    }
  }
  &.js {
    &:before {
      content: $brands-js;
    }
  }
  &.jsfiddle {
    &:before {
      content: $brands-jsfiddle;
    }
  }
  &.js-square {
    &:before {
      content: $brands-js-square;
    }
  }
  &.kaggle {
    &:before {
      content: $brands-kaggle;
    }
  }
  &.keybase {
    &:before {
      content: $brands-keybase;
    }
  }
  &.keycdn {
    &:before {
      content: $brands-keycdn;
    }
  }
  &.kickstarter {
    &:before {
      content: $brands-kickstarter;
    }
  }
  &.kickstarter-k {
    &:before {
      content: $brands-kickstarter-k;
    }
  }
  &.korvue {
    &:before {
      content: $brands-korvue;
    }
  }
  &.laravel {
    &:before {
      content: $brands-laravel;
    }
  }
  &.lastfm {
    &:before {
      content: $brands-lastfm;
    }
  }
  &.lastfm-square {
    &:before {
      content: $brands-lastfm-square;
    }
  }
  &.leanpub {
    &:before {
      content: $brands-leanpub;
    }
  }
  &.less {
    &:before {
      content: $brands-less;
    }
  }
  &.line {
    &:before {
      content: $brands-line;
    }
  }
  &.linkedin {
    &:before {
      content: $brands-linkedin;
    }
  }
  &.linkedin-in {
    &:before {
      content: $brands-linkedin-in;
    }
  }
  &.linode {
    &:before {
      content: $brands-linode;
    }
  }
  &.linux {
    &:before {
      content: $brands-linux;
    }
  }
  &.lyft {
    &:before {
      content: $brands-lyft;
    }
  }
  &.magento {
    &:before {
      content: $brands-magento;
    }
  }
  &.mailchimp {
    &:before {
      content: $brands-mailchimp;
    }
  }
  &.mandalorian {
    &:before {
      content: $brands-mandalorian;
    }
  }
  &.markdown {
    &:before {
      content: $brands-markdown;
    }
  }
  &.mastodon {
    &:before {
      content: $brands-mastodon;
    }
  }
  &.maxcdn {
    &:before {
      content: $brands-maxcdn;
    }
  }
  &.medapps {
    &:before {
      content: $brands-medapps;
    }
  }
  &.medium {
    &:before {
      content: $brands-medium;
    }
  }
  &.medium-m {
    &:before {
      content: $brands-medium-m;
    }
  }
  &.medrt {
    &:before {
      content: $brands-medrt;
    }
  }
  &.meetup {
    &:before {
      content: $brands-meetup;
    }
  }
  &.megaport {
    &:before {
      content: $brands-megaport;
    }
  }
  &.mendeley {
    &:before {
      content: $brands-mendeley;
    }
  }
  &.microsoft {
    &:before {
      content: $brands-microsoft;
    }
  }
  &.mix {
    &:before {
      content: $brands-mix;
    }
  }
  &.mixcloud {
    &:before {
      content: $brands-mixcloud;
    }
  }
  &.mizuni {
    &:before {
      content: $brands-mizuni;
    }
  }
  &.modx {
    &:before {
      content: $brands-modx;
    }
  }
  &.monero {
    &:before {
      content: $brands-monero;
    }
  }
  &.napster {
    &:before {
      content: $brands-napster;
    }
  }
  &.neos {
    &:before {
      content: $brands-neos;
    }
  }
  &.nimblr {
    &:before {
      content: $brands-nimblr;
    }
  }
  &.nintendo-switch {
    &:before {
      content: $brands-nintendo-switch;
    }
  }
  &.node {
    &:before {
      content: $brands-node;
    }
  }
  &.node-js {
    &:before {
      content: $brands-node-js;
    }
  }
  &.npm {
    &:before {
      content: $brands-npm;
    }
  }
  &.ns8 {
    &:before {
      content: $brands-ns8;
    }
  }
  &.nutritionix {
    &:before {
      content: $brands-nutritionix;
    }
  }
  &.odnoklassniki {
    &:before {
      content: $brands-odnoklassniki;
    }
  }
  &.odnoklassniki-square {
    &:before {
      content: $brands-odnoklassniki-square;
    }
  }
  &.old-republic {
    &:before {
      content: $brands-old-republic;
    }
  }
  &.opencart {
    &:before {
      content: $brands-opencart;
    }
  }
  &.openid {
    &:before {
      content: $brands-openid;
    }
  }
  &.opera {
    &:before {
      content: $brands-opera;
    }
  }
  &.optin-monster {
    &:before {
      content: $brands-optin-monster;
    }
  }
  &.osi {
    &:before {
      content: $brands-osi;
    }
  }
  &.page4 {
    &:before {
      content: $brands-page4;
    }
  }
  &.pagelines {
    &:before {
      content: $brands-pagelines;
    }
  }
  &.palfed {
    &:before {
      content: $brands-palfed;
    }
  }
  &.patreon {
    &:before {
      content: $brands-patreon;
    }
  }
  &.paypal {
    &:before {
      content: $brands-paypal;
    }
  }
  &.penny-arcade {
    &:before {
      content: $brands-penny-arcade;
    }
  }
  &.periscope {
    &:before {
      content: $brands-periscope;
    }
  }
  &.phabricator {
    &:before {
      content: $brands-phabricator;
    }
  }
  &.phoenix-framework {
    &:before {
      content: $brands-phoenix-framework;
    }
  }
  &.phoenix-squadron {
    &:before {
      content: $brands-phoenix-squadron;
    }
  }
  &.php {
    &:before {
      content: $brands-php;
    }
  }
  &.pied-piper {
    &:before {
      content: $brands-pied-piper;
    }
  }
  &.pied-piper-alt {
    &:before {
      content: $brands-pied-piper-alt;
    }
  }
  &.pied-piper-hat {
    &:before {
      content: $brands-pied-piper-hat;
    }
  }
  &.pied-piper-pp {
    &:before {
      content: $brands-pied-piper-pp;
    }
  }
  &.pinterest {
    &:before {
      content: $brands-pinterest;
    }
  }
  &.pinterest-p {
    &:before {
      content: $brands-pinterest-p;
    }
  }
  &.pinterest-square {
    &:before {
      content: $brands-pinterest-square;
    }
  }
  &.playstation {
    &:before {
      content: $brands-playstation;
    }
  }
  &.product-hunt {
    &:before {
      content: $brands-product-hunt;
    }
  }
  &.pushed {
    &:before {
      content: $brands-pushed;
    }
  }
  &.python {
    &:before {
      content: $brands-python;
    }
  }
  &.qq {
    &:before {
      content: $brands-qq;
    }
  }
  &.quinscape {
    &:before {
      content: $brands-quinscape;
    }
  }
  &.quora {
    &:before {
      content: $brands-quora;
    }
  }
  &.raspberry-pi {
    &:before {
      content: $brands-raspberry-pi;
    }
  }
  &.ravelry {
    &:before {
      content: $brands-ravelry;
    }
  }
  &.react {
    &:before {
      content: $brands-react;
    }
  }
  &.reacteurope {
    &:before {
      content: $brands-reacteurope;
    }
  }
  &.readme {
    &:before {
      content: $brands-readme;
    }
  }
  &.rebel {
    &:before {
      content: $brands-rebel;
    }
  }
  &.reddit {
    &:before {
      content: $brands-reddit;
    }
  }
  &.reddit-alien {
    &:before {
      content: $brands-reddit-alien;
    }
  }
  &.reddit-square {
    &:before {
      content: $brands-reddit-square;
    }
  }
  &.redhat {
    &:before {
      content: $brands-redhat;
    }
  }
  &.red-river {
    &:before {
      content: $brands-red-river;
    }
  }
  &.renren {
    &:before {
      content: $brands-renren;
    }
  }
  &.replyd {
    &:before {
      content: $brands-replyd;
    }
  }
  &.researchgate {
    &:before {
      content: $brands-researchgate;
    }
  }
  &.resolving {
    &:before {
      content: $brands-resolving;
    }
  }
  &.rev {
    &:before {
      content: $brands-rev;
    }
  }
  &.rocketchat {
    &:before {
      content: $brands-rocketchat;
    }
  }
  &.rockrms {
    &:before {
      content: $brands-rockrms;
    }
  }
  &.r-project {
    &:before {
      content: $brands-r-project;
    }
  }
  &.safari {
    &:before {
      content: $brands-safari;
    }
  }
  &.sass {
    &:before {
      content: $brands-sass;
    }
  }
  &.schlix {
    &:before {
      content: $brands-schlix;
    }
  }
  &.scribd {
    &:before {
      content: $brands-scribd;
    }
  }
  &.searchengin {
    &:before {
      content: $brands-searchengin;
    }
  }
  &.sellcast {
    &:before {
      content: $brands-sellcast;
    }
  }
  &.sellsy {
    &:before {
      content: $brands-sellsy;
    }
  }
  &.servicestack {
    &:before {
      content: $brands-servicestack;
    }
  }
  &.shirtsinbulk {
    &:before {
      content: $brands-shirtsinbulk;
    }
  }
  &.shopware {
    &:before {
      content: $brands-shopware;
    }
  }
  &.simplybuilt {
    &:before {
      content: $brands-simplybuilt;
    }
  }
  &.sistrix {
    &:before {
      content: $brands-sistrix;
    }
  }
  &.sith {
    &:before {
      content: $brands-sith;
    }
  }
  &.sketch {
    &:before {
      content: $brands-sketch;
    }
  }
  &.skyatlas {
    &:before {
      content: $brands-skyatlas;
    }
  }
  &.skype {
    &:before {
      content: $brands-skype;
    }
  }
  &.slack {
    &:before {
      content: $brands-slack;
    }
  }
  &.slack-hash {
    &:before {
      content: $brands-slack-hash;
    }
  }
  &.slideshare {
    &:before {
      content: $brands-slideshare;
    }
  }
  &.snapchat {
    &:before {
      content: $brands-snapchat;
    }
  }
  &.snapchat-ghost {
    &:before {
      content: $brands-snapchat-ghost;
    }
  }
  &.snapchat-square {
    &:before {
      content: $brands-snapchat-square;
    }
  }
  &.soundcloud {
    &:before {
      content: $brands-soundcloud;
    }
  }
  &.sourcetree {
    &:before {
      content: $brands-sourcetree;
    }
  }
  &.speakap {
    &:before {
      content: $brands-speakap;
    }
  }
  &.spotify {
    &:before {
      content: $brands-spotify;
    }
  }
  &.squarespace {
    &:before {
      content: $brands-squarespace;
    }
  }
  &.stack-exchange {
    &:before {
      content: $brands-stack-exchange;
    }
  }
  &.stack-overflow {
    &:before {
      content: $brands-stack-overflow;
    }
  }
  &.staylinked {
    &:before {
      content: $brands-staylinked;
    }
  }
  &.steam {
    &:before {
      content: $brands-steam;
    }
  }
  &.steam-square {
    &:before {
      content: $brands-steam-square;
    }
  }
  &.steam-symbol {
    &:before {
      content: $brands-steam-symbol;
    }
  }
  &.sticker-mule {
    &:before {
      content: $brands-sticker-mule;
    }
  }
  &.strava {
    &:before {
      content: $brands-strava;
    }
  }
  &.stripe {
    &:before {
      content: $brands-stripe;
    }
  }
  &.stripe-s {
    &:before {
      content: $brands-stripe-s;
    }
  }
  &.studiovinari {
    &:before {
      content: $brands-studiovinari;
    }
  }
  &.stumbleupon {
    &:before {
      content: $brands-stumbleupon;
    }
  }
  &.stumbleupon-circle {
    &:before {
      content: $brands-stumbleupon-circle;
    }
  }
  &.superpowers {
    &:before {
      content: $brands-superpowers;
    }
  }
  &.supple {
    &:before {
      content: $brands-supple;
    }
  }
  &.suse {
    &:before {
      content: $brands-suse;
    }
  }
  &.teamspeak {
    &:before {
      content: $brands-teamspeak;
    }
  }
  &.telegram {
    &:before {
      content: $brands-telegram;
    }
  }
  &.telegram-plane {
    &:before {
      content: $brands-telegram-plane;
    }
  }
  &.tencent-weibo {
    &:before {
      content: $brands-tencent-weibo;
    }
  }
  &.themeco {
    &:before {
      content: $brands-themeco;
    }
  }
  &.themeisle {
    &:before {
      content: $brands-themeisle;
    }
  }
  &.the-red-yeti {
    &:before {
      content: $brands-the-red-yeti;
    }
  }
  &.think-peaks {
    &:before {
      content: $brands-think-peaks;
    }
  }
  &.trade-federation {
    &:before {
      content: $brands-trade-federation;
    }
  }
  &.trello {
    &:before {
      content: $brands-trello;
    }
  }
  &.tripadvisor {
    &:before {
      content: $brands-tripadvisor;
    }
  }
  &.tumblr {
    &:before {
      content: $brands-tumblr;
    }
  }
  &.tumblr-square {
    &:before {
      content: $brands-tumblr-square;
    }
  }
  &.twitch {
    &:before {
      content: $brands-twitch;
    }
  }
  &.twitter {
    &:before {
      content: $brands-twitter;
    }
  }
  &.twitter-square {
    &:before {
      content: $brands-twitter-square;
    }
  }
  &.typo3 {
    &:before {
      content: $brands-typo3;
    }
  }
  &.uber {
    &:before {
      content: $brands-uber;
    }
  }
  &.ubuntu {
    &:before {
      content: $brands-ubuntu;
    }
  }
  &.uikit {
    &:before {
      content: $brands-uikit;
    }
  }
  &.uniregistry {
    &:before {
      content: $brands-uniregistry;
    }
  }
  &.untappd {
    &:before {
      content: $brands-untappd;
    }
  }
  &.ups {
    &:before {
      content: $brands-ups;
    }
  }
  &.usb {
    &:before {
      content: $brands-usb;
    }
  }
  &.usps {
    &:before {
      content: $brands-usps;
    }
  }
  &.ussunnah {
    &:before {
      content: $brands-ussunnah;
    }
  }
  &.vaadin {
    &:before {
      content: $brands-vaadin;
    }
  }
  &.viacoin {
    &:before {
      content: $brands-viacoin;
    }
  }
  &.viadeo {
    &:before {
      content: $brands-viadeo;
    }
  }
  &.viadeo-square {
    &:before {
      content: $brands-viadeo-square;
    }
  }
  &.viber {
    &:before {
      content: $brands-viber;
    }
  }
  &.vimeo {
    &:before {
      content: $brands-vimeo;
    }
  }
  &.vimeo-square {
    &:before {
      content: $brands-vimeo-square;
    }
  }
  &.vimeo-v {
    &:before {
      content: $brands-vimeo-v;
    }
  }
  &.vine {
    &:before {
      content: $brands-vine;
    }
  }
  &.vk {
    &:before {
      content: $brands-vk;
    }
  }
  &.vnv {
    &:before {
      content: $brands-vnv;
    }
  }
  &.vuejs {
    &:before {
      content: $brands-vuejs;
    }
  }
  &.weebly {
    &:before {
      content: $brands-weebly;
    }
  }
  &.weibo {
    &:before {
      content: $brands-weibo;
    }
  }
  &.weixin {
    &:before {
      content: $brands-weixin;
    }
  }
  &.whatsapp {
    &:before {
      content: $brands-whatsapp;
    }
  }
  &.whatsapp-square {
    &:before {
      content: $brands-whatsapp-square;
    }
  }
  &.whmcs {
    &:before {
      content: $brands-whmcs;
    }
  }
  &.wikipedia-w {
    &:before {
      content: $brands-wikipedia-w;
    }
  }
  &.windows {
    &:before {
      content: $brands-windows;
    }
  }
  &.wix {
    &:before {
      content: $brands-wix;
    }
  }
  &.wizards-of-the-coast {
    &:before {
      content: $brands-wizards-of-the-coast;
    }
  }
  &.wolf-pack-battalion {
    &:before {
      content: $brands-wolf-pack-battalion;
    }
  }
  &.wordpress {
    &:before {
      content: $brands-wordpress;
    }
  }
  &.wordpress-simple {
    &:before {
      content: $brands-wordpress-simple;
    }
  }
  &.wpbeginner {
    &:before {
      content: $brands-wpbeginner;
    }
  }
  &.wpexplorer {
    &:before {
      content: $brands-wpexplorer;
    }
  }
  &.wpforms {
    &:before {
      content: $brands-wpforms;
    }
  }
  &.wpressr {
    &:before {
      content: $brands-wpressr;
    }
  }
  &.xbox {
    &:before {
      content: $brands-xbox;
    }
  }
  &.xing {
    &:before {
      content: $brands-xing;
    }
  }
  &.xing-square {
    &:before {
      content: $brands-xing-square;
    }
  }
  &.yahoo {
    &:before {
      content: $brands-yahoo;
    }
  }
  &.yandex {
    &:before {
      content: $brands-yandex;
    }
  }
  &.yandex-international {
    &:before {
      content: $brands-yandex-international;
    }
  }
  &.yarn {
    &:before {
      content: $brands-yarn;
    }
  }
  &.y-combinator {
    &:before {
      content: $brands-y-combinator;
    }
  }
  &.yelp {
    &:before {
      content: $brands-yelp;
    }
  }
  &.yoast {
    &:before {
      content: $brands-yoast;
    }
  }
  &.youtube {
    &:before {
      content: $brands-youtube;
    }
  }
  &.youtube-square {
    &:before {
      content: $brands-youtube-square;
    }
  }
  &.zhihu {
    &:before {
      content: $brands-zhihu;
    }
  }

}

