/*!
 * Copyright (c) 2019.
 * The project framework is designed by DIENGV. This is an open project, with no commercial properties.
 *  LastModified: 6/5/19 9:38 PM
 *  Author: diengv < Giáp Văn Điện >
 *  Email: diengv.dev@gmail.com
 *  File name: variables.scss
 *  File path: D:/Projects/diengiap/express-gds-client/src/resources/assets/scss/gds-icon/brands/variables.scss
 */

$font-family-brands: "gds-icon-brands" !default;

$brands-px: "\e900";
$brands-accessible-icon: "\e901";
$brands-accusoft: "\e902";
$brands-acquisitions-incorporated: "\e903";
$brands-adn: "\e904";
$brands-adobe: "\e905";
$brands-adversal: "\e906";
$brands-affiliatetheme: "\e907";
$brands-algolia: "\e908";
$brands-alipay: "\e909";
$brands-amazon: "\e90a";
$brands-amazon-pay: "\e90b";
$brands-amilia: "\e90c";
$brands-android: "\e90d";
$brands-angellist: "\e90e";
$brands-angrycreative: "\e90f";
$brands-angular: "\e910";
$brands-apper: "\e911";
$brands-apple: "\e912";
$brands-apple-pay: "\e913";
$brands-app-store: "\e914";
$brands-app-store-ios: "\e915";
$brands-artstation: "\e916";
$brands-asymmetrik: "\e917";
$brands-atlassian: "\e918";
$brands-audible: "\e919";
$brands-autoprefixer: "\e91a";
$brands-avianex: "\e91b";
$brands-aviato: "\e91c";
$brands-aws: "\e91d";
$brands-bandcamp: "\e91e";
$brands-behance: "\e91f";
$brands-behance-square: "\e920";
$brands-bimobject: "\e921";
$brands-bitbucket: "\e922";
$brands-bitcoin: "\e923";
$brands-bity: "\e924";
$brands-blackberry: "\e925";
$brands-black-tie: "\e926";
$brands-blogger: "\e927";
$brands-blogger-b: "\e928";
$brands-bluetooth: "\e929";
$brands-bluetooth-b: "\e92a";
$brands-btc: "\e92b";
$brands-buromobelexperte: "\e92c";
$brands-buysellads: "\e92d";
$brands-canadian-maple-leaf: "\e92e";
$brands-cc-amazon-pay: "\e92f";
$brands-cc-amex: "\e930";
$brands-cc-apple-pay: "\e931";
$brands-cc-diners-club: "\e932";
$brands-cc-discover: "\e933";
$brands-cc-jcb: "\e934";
$brands-cc-mastercard: "\e935";
$brands-cc-paypal: "\e936";
$brands-cc-stripe: "\e937";
$brands-cc-visa: "\e938";
$brands-centercode: "\e939";
$brands-centos: "\e93a";
$brands-chrome: "\e93b";
$brands-cloudscale: "\e93c";
$brands-cloudsmith: "\e93d";
$brands-cloudversify: "\e93e";
$brands-codepen: "\e93f";
$brands-codiepie: "\e940";
$brands-confluence: "\e941";
$brands-connectdevelop: "\e942";
$brands-contao: "\e943";
$brands-cpanel: "\e944";
$brands-creative-commons: "\e945";
$brands-creative-commons-by: "\e946";
$brands-creative-commons-nc: "\e947";
$brands-creative-commons-nc-eu: "\e948";
$brands-creative-commons-nc-jp: "\e949";
$brands-creative-commons-nd: "\e94a";
$brands-creative-commons-pd: "\e94b";
$brands-creative-commons-pd-alt: "\e94c";
$brands-creative-commons-remix: "\e94d";
$brands-creative-commons-sa: "\e94e";
$brands-creative-commons-sampling: "\e94f";
$brands-creative-commons-sampling-plus: "\e950";
$brands-creative-commons-share: "\e951";
$brands-creative-commons-zero: "\e952";
$brands-critical-role: "\e953";
$brands-css3: "\e954";
$brands-css3-alt: "\e955";
$brands-cuttlefish: "\e956";
$brands-d-and-d: "\e957";
$brands-d-and-d-beyond: "\e958";
$brands-dashcube: "\e959";
$brands-delicious: "\e95a";
$brands-deploydog: "\e95b";
$brands-deskpro: "\e95c";
$brands-dev: "\e95d";
$brands-deviantart: "\e95e";
$brands-dhl: "\e95f";
$brands-diaspora: "\e960";
$brands-digg: "\e961";
$brands-digital-ocean: "\e962";
$brands-discord: "\e963";
$brands-discourse: "\e964";
$brands-dochub: "\e965";
$brands-docker: "\e966";
$brands-draft2digital: "\e967";
$brands-dribbble: "\e968";
$brands-dribbble-square: "\e969";
$brands-dropbox: "\e96a";
$brands-drupal: "\e96b";
$brands-dyalog: "\e96c";
$brands-earlybirds: "\e96d";
$brands-ebay: "\e96e";
$brands-edge: "\e96f";
$brands-elementor: "\e970";
$brands-ello: "\e971";
$brands-ember: "\e972";
$brands-empire: "\e973";
$brands-envira: "\e974";
$brands-erlang: "\e975";
$brands-ethereum: "\e976";
$brands-etsy: "\e977";
$brands-expeditedssl: "\e978";
$brands-facebook: "\e979";
$brands-facebook-f: "\e97a";
$brands-facebook-messenger: "\e97b";
$brands-facebook-square: "\e97c";
$brands-fantasy-flight-games: "\e97d";
$brands-fedex: "\e97e";
$brands-fedora: "\e97f";
$brands-figma: "\e980";
$brands-firefox: "\e981";
$brands-firstdraft: "\e982";
$brands-first-order: "\e983";
$brands-first-order-alt: "\e984";
$brands-flickr: "\e985";
$brands-flipboard: "\e986";
$brands-fly: "\e987";
$brands-font-awesome: "\e988";
$brands-font-awesome-alt: "\e989";
$brands-font-awesome-flag: "\e98a";
$brands-fonticons: "\e98b";
$brands-fonticons-fi: "\e98c";
$brands-fort-awesome: "\e98d";
$brands-fort-awesome-alt: "\e98e";
$brands-forumbee: "\e98f";
$brands-foursquare: "\e990";
$brands-freebsd: "\e991";
$brands-free-code-camp: "\e992";
$brands-fulcrum: "\e993";
$brands-galactic-republic: "\e994";
$brands-galactic-senate: "\e995";
$brands-get-pocket: "\e996";
$brands-gg: "\e997";
$brands-gg-circle: "\e998";
$brands-git: "\e999";
$brands-github: "\e99a";
$brands-github-alt: "\e99b";
$brands-github-square: "\e99c";
$brands-gitkraken: "\e99d";
$brands-gitlab: "\e99e";
$brands-git-square: "\e99f";
$brands-gitter: "\e9a0";
$brands-glide: "\e9a1";
$brands-glide-g: "\e9a2";
$brands-gofore: "\e9a3";
$brands-goodreads: "\e9a4";
$brands-goodreads-g: "\e9a5";
$brands-google: "\e9a6";
$brands-google-drive: "\e9a7";
$brands-google-play: "\e9a8";
$brands-google-plus: "\e9a9";
$brands-google-plus-g: "\e9aa";
$brands-google-plus-square: "\e9ab";
$brands-google-wallet: "\e9ac";
$brands-gratipay: "\e9ad";
$brands-grav: "\e9ae";
$brands-gripfire: "\e9af";
$brands-grunt: "\e9b0";
$brands-gulp: "\e9b1";
$brands-hacker-news: "\e9b2";
$brands-hacker-news-square: "\e9b3";
$brands-hackerrank: "\e9b4";
$brands-hips: "\e9b5";
$brands-hire-a-helper: "\e9b6";
$brands-hooli: "\e9b7";
$brands-hornbill: "\e9b8";
$brands-hotjar: "\e9b9";
$brands-houzz: "\e9ba";
$brands-html5: "\e9bb";
$brands-hubspot: "\e9bc";
$brands-imdb: "\e9bd";
$brands-instagram: "\e9be";
$brands-intercom: "\e9bf";
$brands-internet-explorer: "\e9c0";
$brands-invision: "\e9c1";
$brands-ioxhost: "\e9c2";
$brands-itunes: "\e9c3";
$brands-itunes-note: "\e9c4";
$brands-java: "\e9c5";
$brands-jedi-order: "\e9c6";
$brands-jenkins: "\e9c7";
$brands-jira: "\e9c8";
$brands-joget: "\e9c9";
$brands-joomla: "\e9ca";
$brands-js: "\e9cb";
$brands-jsfiddle: "\e9cc";
$brands-js-square: "\e9cd";
$brands-kaggle: "\e9ce";
$brands-keybase: "\e9cf";
$brands-keycdn: "\e9d0";
$brands-kickstarter: "\e9d1";
$brands-kickstarter-k: "\e9d2";
$brands-korvue: "\e9d3";
$brands-laravel: "\e9d4";
$brands-lastfm: "\e9d5";
$brands-lastfm-square: "\e9d6";
$brands-leanpub: "\e9d7";
$brands-less: "\e9d8";
$brands-line: "\e9d9";
$brands-linkedin: "\e9da";
$brands-linkedin-in: "\e9db";
$brands-linode: "\e9dc";
$brands-linux: "\e9dd";
$brands-lyft: "\e9de";
$brands-magento: "\e9df";
$brands-mailchimp: "\e9e0";
$brands-mandalorian: "\e9e1";
$brands-markdown: "\e9e2";
$brands-mastodon: "\e9e3";
$brands-maxcdn: "\e9e4";
$brands-medapps: "\e9e5";
$brands-medium: "\e9e6";
$brands-medium-m: "\e9e7";
$brands-medrt: "\e9e8";
$brands-meetup: "\e9e9";
$brands-megaport: "\e9ea";
$brands-mendeley: "\e9eb";
$brands-microsoft: "\e9ec";
$brands-mix: "\e9ed";
$brands-mixcloud: "\e9ee";
$brands-mizuni: "\e9ef";
$brands-modx: "\e9f0";
$brands-monero: "\e9f1";
$brands-napster: "\e9f2";
$brands-neos: "\e9f3";
$brands-nimblr: "\e9f4";
$brands-nintendo-switch: "\e9f5";
$brands-node: "\e9f6";
$brands-node-js: "\e9f7";
$brands-npm: "\e9f8";
$brands-ns8: "\e9f9";
$brands-nutritionix: "\e9fa";
$brands-odnoklassniki: "\e9fb";
$brands-odnoklassniki-square: "\e9fc";
$brands-old-republic: "\e9fd";
$brands-opencart: "\e9fe";
$brands-openid: "\e9ff";
$brands-opera: "\ea00";
$brands-optin-monster: "\ea01";
$brands-osi: "\ea02";
$brands-page4: "\ea03";
$brands-pagelines: "\ea04";
$brands-palfed: "\ea05";
$brands-patreon: "\ea06";
$brands-paypal: "\ea07";
$brands-penny-arcade: "\ea08";
$brands-periscope: "\ea09";
$brands-phabricator: "\ea0a";
$brands-phoenix-framework: "\ea0b";
$brands-phoenix-squadron: "\ea0c";
$brands-php: "\ea0d";
$brands-pied-piper: "\ea0e";
$brands-pied-piper-alt: "\ea0f";
$brands-pied-piper-hat: "\ea10";
$brands-pied-piper-pp: "\ea11";
$brands-pinterest: "\ea12";
$brands-pinterest-p: "\ea13";
$brands-pinterest-square: "\ea14";
$brands-playstation: "\ea15";
$brands-product-hunt: "\ea16";
$brands-pushed: "\ea17";
$brands-python: "\ea18";
$brands-qq: "\ea19";
$brands-quinscape: "\ea1a";
$brands-quora: "\ea1b";
$brands-raspberry-pi: "\ea1c";
$brands-ravelry: "\ea1d";
$brands-react: "\ea1e";
$brands-reacteurope: "\ea1f";
$brands-readme: "\ea20";
$brands-rebel: "\ea21";
$brands-reddit: "\ea22";
$brands-reddit-alien: "\ea23";
$brands-reddit-square: "\ea24";
$brands-redhat: "\ea25";
$brands-red-river: "\ea26";
$brands-renren: "\ea27";
$brands-replyd: "\ea28";
$brands-researchgate: "\ea29";
$brands-resolving: "\ea2a";
$brands-rev: "\ea2b";
$brands-rocketchat: "\ea2c";
$brands-rockrms: "\ea2d";
$brands-r-project: "\ea2e";
$brands-safari: "\ea2f";
$brands-sass: "\ea30";
$brands-schlix: "\ea31";
$brands-scribd: "\ea32";
$brands-searchengin: "\ea33";
$brands-sellcast: "\ea34";
$brands-sellsy: "\ea35";
$brands-servicestack: "\ea36";
$brands-shirtsinbulk: "\ea37";
$brands-shopware: "\ea38";
$brands-simplybuilt: "\ea39";
$brands-sistrix: "\ea3a";
$brands-sith: "\ea3b";
$brands-sketch: "\ea3c";
$brands-skyatlas: "\ea3d";
$brands-skype: "\ea3e";
$brands-slack: "\ea3f";
$brands-slack-hash: "\ea40";
$brands-slideshare: "\ea41";
$brands-snapchat: "\ea42";
$brands-snapchat-ghost: "\ea43";
$brands-snapchat-square: "\ea44";
$brands-soundcloud: "\ea45";
$brands-sourcetree: "\ea46";
$brands-speakap: "\ea47";
$brands-spotify: "\ea48";
$brands-squarespace: "\ea49";
$brands-stack-exchange: "\ea4a";
$brands-stack-overflow: "\ea4b";
$brands-staylinked: "\ea4c";
$brands-steam: "\ea4d";
$brands-steam-square: "\ea4e";
$brands-steam-symbol: "\ea4f";
$brands-sticker-mule: "\ea50";
$brands-strava: "\ea51";
$brands-stripe: "\ea52";
$brands-stripe-s: "\ea53";
$brands-studiovinari: "\ea54";
$brands-stumbleupon: "\ea55";
$brands-stumbleupon-circle: "\ea56";
$brands-superpowers: "\ea57";
$brands-supple: "\ea58";
$brands-suse: "\ea59";
$brands-teamspeak: "\ea5a";
$brands-telegram: "\ea5b";
$brands-telegram-plane: "\ea5c";
$brands-tencent-weibo: "\ea5d";
$brands-themeco: "\ea5e";
$brands-themeisle: "\ea5f";
$brands-the-red-yeti: "\ea60";
$brands-think-peaks: "\ea61";
$brands-trade-federation: "\ea62";
$brands-trello: "\ea63";
$brands-tripadvisor: "\ea64";
$brands-tumblr: "\ea65";
$brands-tumblr-square: "\ea66";
$brands-twitch: "\ea67";
$brands-twitter: "\ea68";
$brands-twitter-square: "\ea69";
$brands-typo3: "\ea6a";
$brands-uber: "\ea6b";
$brands-ubuntu: "\ea6c";
$brands-uikit: "\ea6d";
$brands-uniregistry: "\ea6e";
$brands-untappd: "\ea6f";
$brands-ups: "\ea70";
$brands-usb: "\ea71";
$brands-usps: "\ea72";
$brands-ussunnah: "\ea73";
$brands-vaadin: "\ea74";
$brands-viacoin: "\ea75";
$brands-viadeo: "\ea76";
$brands-viadeo-square: "\ea77";
$brands-viber: "\ea78";
$brands-vimeo: "\ea79";
$brands-vimeo-square: "\ea7a";
$brands-vimeo-v: "\ea7b";
$brands-vine: "\ea7c";
$brands-vk: "\ea7d";
$brands-vnv: "\ea7e";
$brands-vuejs: "\ea7f";
$brands-weebly: "\ea80";
$brands-weibo: "\ea81";
$brands-weixin: "\ea82";
$brands-whatsapp: "\ea83";
$brands-whatsapp-square: "\ea84";
$brands-whmcs: "\ea85";
$brands-wikipedia-w: "\ea86";
$brands-windows: "\ea87";
$brands-wix: "\ea88";
$brands-wizards-of-the-coast: "\ea89";
$brands-wolf-pack-battalion: "\ea8a";
$brands-wordpress: "\ea8b";
$brands-wordpress-simple: "\ea8c";
$brands-wpbeginner: "\ea8d";
$brands-wpexplorer: "\ea8e";
$brands-wpforms: "\ea8f";
$brands-wpressr: "\ea90";
$brands-xbox: "\ea91";
$brands-xing: "\ea92";
$brands-xing-square: "\ea93";
$brands-yahoo: "\ea94";
$brands-yandex: "\ea95";
$brands-yandex-international: "\ea96";
$brands-yarn: "\ea97";
$brands-y-combinator: "\ea98";
$brands-yelp: "\ea99";
$brands-yoast: "\ea9a";
$brands-youtube: "\ea9b";
$brands-youtube-square: "\ea9c";
$brands-zhihu: "\ea9d";

